@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Nunito:wght@400;600&family=Open+Sans:ital,wght@0,500;1,600&display=swap');

.NotesSearch {
  background: rgba(77, 74, 183, 0.9);
  border-radius: 2px;
  border: 2px solid #202329;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: #1E1E1F;
  border-radius: 12px;
  box-shadow: 0px 5px 50px linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

.NotesSearch::placeholder {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.NotesSearch:focus {
  outline-color: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}