  .primeraNota {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    color: white;
  }

  .myApp {
    background: url('../../img/fondo.avif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
  }
  

  
  